/* Autofill stili için CSS kuralları */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: inherit;
  -webkit-text-fill-color: #7289da !important; /* Metin rengi */
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset; /* Arka plan rengi */
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #7289da; /* İmleç rengi */
}

/* Firefox için otomatik doldurma stili */
input:autofill,
input:autofill:hover, 
input:autofill:focus,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus,
select:autofill,
select:autofill:hover,
select:autofill:focus {
  font-family: inherit;
  box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-text-fill-color: #333333;
}

/* Edge için otomatik doldurma stili */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: inherit;
  color: #333333 !important;
}